<div class="container">

  <div id="top-right">
    <div id="health-bar">
      <div id="health"></div>
    </div>

    <ul>
      <li class="initial-pos transition-all">hold.creative@gmail.com</li>
      <li class="initial-pos transition-all">hold_creative</li>
      <li class="initial-pos transition-all">@hold_creative</li>
    </ul>
  </div>

  <div id="bottom-left">
    <div class="title initial-pos transition-all">
      HOLD Creative Syndicate
    </div>
  </div>
</div>
