<ul id="scene" class="scene">
  <li class="layer one" data-depth="0.3">
    <%= image_tag "rough.jpg", :id => 'rough' %>
  </li>
  <li class="layer two" data-depth="0.2">
    <div id="containment" class="initial-pos transition">
      <p>COMING SOON</p>

      <p>The digital portfolio of Philly natives, and a glimpse into life as experienced by the younger generation. Continually
        seeking new ways of thinking, HOLD delivers originality in its purest consumable form.</p>

      <p> Look. Listen. Feel. HOLD.</p>
    </div>
    <div id="social" class="initial-pos transition">
      <a href="mailto:hold.creative@gmail.com" target="_blank"><i class="fa fa-envelope-o transition"></i></a>
      <a href="http://instagram.com/holdstudios" target="_blank"><i class="fa fa-instagram transition"></i></a>
      <a href="http://twitter.com/Hold_Space" target="_blank"><i class="fa fa-twitter transition"></i></a>
      <a href="http://youtube.com/hold_creative" target="_blank"><i class="fa fa-youtube transition"></i></a>
      <a href="http://facebook.com/holdphilly" target="_blank"><i class="fa fa-facebook transition"></i></a>
    </div>
  </li>
</ul>

<div id="huge-logo" class="initial-pos transition-slow">
  <%= image_tag("HOLD.png") %>
</div>

<div id="fadecover" class="transition-slow"></div>
