html, body {
  color: white;
  background: black;
}

a:hover, a:active, a:focus {
  outline: 0;
}

.transition {
  -webkit-transition: all 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.transition-slow {
  -webkit-transition: all 2400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 2400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

#scene {
  background: black;
  top: -50px;
  .layer {
    &.one{
      video{
        width: 105%;
        left: -4%;
        position: relative;
      }
    }

    &.two {
      width: 100%;
      height: 35%;
      bottom: 0;
      top: unset !important;
      @media (max-width: 1000px){
        bottom: unset;
      }
      #containment, #social {
        display: inline-block;
      }

      #containment {
        width: 40%;
        position: relative;
        top: 0;
        opacity: 1;
        height: 200px;
        padding: 20px;
        font-family: 'Jura', sans-serif;
        font-size: 1.1em;
        line-height: 1.4em;
        &:hover {
          color: silver;
        }
        p {
          margin: 0.5em;
          font-weight: 900;
        }

        &.hidden {
          opacity: 0;
        }
        &.initial-pos {
          top: -50px;
          opacity: 0;
        }

      }

      #social {
        right: 0;
        width: 28%;
        float: right;
        text-align: center;
        top: 80px;
        position: relative;
        opacity: 1;
        &.initial-pos {
          top: 30px;
          opacity: 0;
        }
        .fa {
          margin: 0 10px;
          font-size: 2.2em;
          color: silver;
          &:hover {
            color: white;
          }
        }
      }

    }

  }
}

#huge-logo {
  position: fixed;
  height: 75vh;
  width: 100%;
  top: 0;
  text-align: center;
  opacity: 0;
  &.initial-pos {
    opacity: 1;
  }
  img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    background: black;
    opacity: 0.7;
    @media (max-width: 1000px){
      width: 100%;
    }
  }
}

#fadecover{
  position: fixed;
  width: 100%;
  height:100%;
  top: 0;
  z-index: 10;
  background: black;
  &.off{
    opacity: 0;
    pointer-events: none;
  }
}
